@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using BlazorServerSignalRApp.Models
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Parcels list</PageTitle>
<h1>Parcels list</h1>

@if (parcels.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>ParcelNumber</th>
            <th>Status</th>
            <th>LastModificationDate</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var parcel in parcels)
        {
            <tr>
                <td>@parcel.ParcelNumber</td>
                <td>@parcel.Status</td>
                <td>@parcel.LastModificationDate</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private HubConnection? hubConnection;
    private List<ParcelInfoModel> parcels = new();

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/parcel-info-hub"))
            .Build();

        hubConnection.On<ParcelInfoModel>("ParcelInfoUpdatedMessage", (parcel) =>
        {
    //var encodedMsg = $"ParcelNumber:{parcel.ParcelNumber}\tStatus:{parcel.Status}\tLastModificationDate:{parcel.LastModificationDate}";
            parcels.Add(parcel);
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

}